beautifulsoup4==4.11.1
bert-score==0.3.11
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
cycler==0.11.0
docker-pycreds==0.4.0
filelock==3.6.0
gdown==4.4.0
gitdb==4.0.9
gitpython==3.1.27
huggingface-hub==0.5.1
idna==3.3
importlib-metadata==4.11.3
joblib==1.1.0
kiwisolver==1.3.1
matplotlib==3.4.2
mpmath==1.2.1
nltk==3.6.7
numpy==1.21.4
packaging==21.3
pandas==1.3.5
pathtools==0.1.2
pillow==8.4.0
Pillow-SIMD==7.0.0.post3
portalocker==2.4.0
prettytable==3.2.0
psutil==5.8.0
pydantic==1.9.0
pygments==2.11.2
regex==2022.3.15
sacrebleu==2.0.0
sacremoses==0.0.49
scikit-learn==1.0.1
scipy==1.7.3
sentence-transformers==2.2.0
sentencepiece==0.1.96
tokenizers==0.10.3
torch==1.10.0
torchvision==0.11.1
tqdm==4.64.0
transformers==4.15.0
typing-extensions==4.1.1
urllib3==1.26.9
wcwidth==0.2.5
zipp==3.8.0
